openapi: 3.0.3
info:
  title: 'Tikerama API'
  description: 'Documentation for the Tikerama API.'
  version: 1.0.0
servers:
  -
    url: 'https://tikerama.ddev.site'
paths:
  /api/events:
    get:
      summary: 'Lister les événements en cours'
      operationId: listerLesvnementsEnCours
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                example:
                  -
                    id: 2
                    event_category: Festival
                    event_title: 'Similique ipsum possimus excepturi quibusdam odio eaque quisquam.'
                    event_description: 'Sit velit ab fugiat earum. Beatae facilis rerum neque aut qui soluta. Id voluptas voluptas eos eligendi ut totam reprehenderit.'
                    event_date: '2024-09-02 03:06:21'
                    event_image: 'https://via.placeholder.com/640x480.png/0055bb?text=corrupti'
                    event_city: 'East Kathlyn'
                    event_address: "54451 Toni Plaza Suite 598\nJaydonview, AL 27202-1484"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 4
                    event_category: Festival
                    event_title: 'Debitis repellat expedita tempora quidem rerum.'
                    event_description: 'Fugit illo nisi rem molestiae in eveniet. Vitae modi reiciendis sed. Ad autem quos cum tempore quo aut.'
                    event_date: '2024-08-28 21:58:37'
                    event_image: 'https://via.placeholder.com/640x480.png/0011cc?text=occaecati'
                    event_city: Schillerfort
                    event_address: "2333 Justen Vista\nFatimaport, CO 41354-4541"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 5
                    event_category: Autres
                    event_title: 'Optio officiis eum quia consequatur ut.'
                    event_description: 'Voluptatem modi assumenda sit sed mollitia ipsum aliquid hic. Cum fuga similique voluptatibus sit eos illum sunt. Doloribus eaque dolores modi sunt. Nulla distinctio explicabo et voluptatem culpa.'
                    event_date: '2024-09-06 10:42:50'
                    event_image: 'https://via.placeholder.com/640x480.png/0033ee?text=doloremque'
                    event_city: 'East Magdalena'
                    event_address: "351 Max Prairie\nNew Mya, IA 01993-2748"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 8
                    event_category: Concert-Spectacle
                    event_title: 'Tempora rem est quis iure.'
                    event_description: 'Soluta et quos nostrum sit. Aliquid aut minima autem nobis dolores. Iure ratione quia corrupti.'
                    event_date: '2024-08-17 22:35:46'
                    event_image: 'https://via.placeholder.com/640x480.png/00aa55?text=placeat'
                    event_city: 'South Alainaland'
                    event_address: "413 Joyce Union\nNew Ezequielburgh, NV 45667-7066"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 9
                    event_category: Conférence
                    event_title: 'Sunt impedit itaque nisi commodi quo.'
                    event_description: 'Ipsam officiis et aliquid sit. Consequatur eligendi aut autem id. Exercitationem et aperiam voluptatem alias ut voluptate. Repudiandae mollitia asperiores atque quod nihil.'
                    event_date: '2024-08-21 18:29:20'
                    event_image: 'https://via.placeholder.com/640x480.png/000033?text=qui'
                    event_city: Anthonyshire
                    event_address: "9837 Marisa Heights Apt. 681\nNorth Rashawnport, AL 96778-3079"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 12
                    event_category: Conférence
                    event_title: 'Dolorem eaque repellendus rerum possimus inventore.'
                    event_description: 'Laudantium numquam ut enim ea non. Excepturi velit cumque dolor eum minus nam. Eos in et aliquam nostrum. Quo hic fugit blanditiis pariatur tempore natus quibusdam.'
                    event_date: '2024-08-15 18:33:26'
                    event_image: 'https://via.placeholder.com/640x480.png/00ff99?text=unde'
                    event_city: 'West Cruzborough'
                    event_address: "434 Jaylan Shoal Suite 691\nPetemouth, CO 81647-4225"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 15
                    event_category: Autres
                    event_title: 'Quisquam accusantium quo ut atque pariatur.'
                    event_description: 'Est voluptate necessitatibus corporis aut magni. Maiores molestias odio ut est.'
                    event_date: '2024-08-16 11:02:00'
                    event_image: 'https://via.placeholder.com/640x480.png/00ddbb?text=ea'
                    event_city: 'North Ova'
                    event_address: "3908 Muller Views\nNorth Cyril, VA 94955"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 17
                    event_category: Conférence
                    event_title: 'Eveniet aut itaque labore consequatur aut et ratione est.'
                    event_description: 'Nemo aliquid repellat accusamus qui et ut. Ullam asperiores id rerum odio excepturi. Distinctio et perspiciatis illo ducimus pariatur ut facere.'
                    event_date: '2024-08-18 15:19:26'
                    event_image: 'https://via.placeholder.com/640x480.png/00bb77?text=et'
                    event_city: Treutelshire
                    event_address: "674 Farrell Plain\nSouth Libbyton, AR 91086-7641"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 18
                    event_category: 'Diner Gala'
                    event_title: 'Minima voluptas id officia sed illo est provident illum.'
                    event_description: 'Consequatur qui dolores eos et doloremque. Tenetur ab officiis sunt nulla. In quo nulla occaecati ipsa. Odio doloribus eum officiis qui.'
                    event_date: '2024-08-16 04:47:26'
                    event_image: 'https://via.placeholder.com/640x480.png/0022ff?text=debitis'
                    event_city: 'New Cleve'
                    event_address: "53465 Marks Loop Apt. 284\nTiffanyburgh, NM 00435"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
                  -
                    id: 20
                    event_category: Festival
                    event_title: 'Possimus consectetur consequatur exercitationem architecto sit fuga vero.'
                    event_description: 'Tempora odit dolore accusantium nobis consequatur exercitationem repellendus. Id blanditiis molestiae est molestias. Laudantium quo exercitationem fuga tenetur est enim nisi.'
                    event_date: '2024-09-06 03:02:30'
                    event_image: 'https://via.placeholder.com/640x480.png/00bbff?text=tempora'
                    event_city: Aaronhaven
                    event_address: "98821 Lance Gardens Suite 650\nPort Albertomouth, NM 87714-6229"
                    event_status: upcoming
                    event_created_on: '2024-08-07 23:26:05'
                    created_at: '2024-08-07T23:26:05.000000Z'
                    updated_at: '2024-08-07T23:26:05.000000Z'
      tags:
        - Events
      security: []
  '/api/events/{event_id}/ticket-types':
    get:
      summary: 'Récupérer les types de billets pour un événement donné'
      operationId: rcuprerLesTypesDeBilletsPourUnvnementDonn
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  event_category: Atelier
                  event_title: 'Est assumenda deserunt quia inventore.'
                  event_description: 'Autem architecto minima maxime est mollitia. Et quisquam enim illo enim in tenetur velit quo. Unde qui dolore deserunt.'
                  event_date: '2024-08-15 18:52:21'
                  event_image: 'https://via.placeholder.com/640x480.png/0022cc?text=ipsam'
                  event_city: 'North German'
                  event_address: "230 Benjamin Passage\nPort Annabelleside, OR 38694-6671"
                  event_status: completed
                  event_created_on: '2024-08-07 23:26:05'
                  created_at: '2024-08-07T23:26:05.000000Z'
                  updated_at: '2024-08-07T23:26:05.000000Z'
                  ticket_types:
                    -
                      id: 1
                      ticket_type_event_id: 1
                      ticket_type_name: VIP
                      ticket_type_price: 9061
                      ticket_type_quantity: 229
                      ticket_type_real_quantity: 38
                      ticket_type_total_quantity: 438
                      ticket_type_description: 'Aliquam adipisci labore voluptas nam ut voluptatem.'
                      created_at: '2024-08-07T23:26:05.000000Z'
                      updated_at: '2024-08-07T23:26:05.000000Z'
                    -
                      id: 2
                      ticket_type_event_id: 1
                      ticket_type_name: VIP
                      ticket_type_price: 6645
                      ticket_type_quantity: 316
                      ticket_type_real_quantity: 1
                      ticket_type_total_quantity: 301
                      ticket_type_description: 'Tenetur qui ab in aut sit similique molestiae.'
                      created_at: '2024-08-07T23:26:05.000000Z'
                      updated_at: '2024-08-07T23:26:05.000000Z'
                properties:
                  id:
                    type: integer
                    example: 1
                  event_category:
                    type: string
                    example: Atelier
                  event_title:
                    type: string
                    example: 'Est assumenda deserunt quia inventore.'
                  event_description:
                    type: string
                    example: 'Autem architecto minima maxime est mollitia. Et quisquam enim illo enim in tenetur velit quo. Unde qui dolore deserunt.'
                  event_date:
                    type: string
                    example: '2024-08-15 18:52:21'
                  event_image:
                    type: string
                    example: 'https://via.placeholder.com/640x480.png/0022cc?text=ipsam'
                  event_city:
                    type: string
                    example: 'North German'
                  event_address:
                    type: string
                    example: "230 Benjamin Passage\nPort Annabelleside, OR 38694-6671"
                  event_status:
                    type: string
                    example: completed
                  event_created_on:
                    type: string
                    example: '2024-08-07 23:26:05'
                  created_at:
                    type: string
                    example: '2024-08-07T23:26:05.000000Z'
                  updated_at:
                    type: string
                    example: '2024-08-07T23:26:05.000000Z'
                  ticket_types:
                    type: array
                    example:
                      -
                        id: 1
                        ticket_type_event_id: 1
                        ticket_type_name: VIP
                        ticket_type_price: 9061
                        ticket_type_quantity: 229
                        ticket_type_real_quantity: 38
                        ticket_type_total_quantity: 438
                        ticket_type_description: 'Aliquam adipisci labore voluptas nam ut voluptatem.'
                        created_at: '2024-08-07T23:26:05.000000Z'
                        updated_at: '2024-08-07T23:26:05.000000Z'
                      -
                        id: 2
                        ticket_type_event_id: 1
                        ticket_type_name: VIP
                        ticket_type_price: 6645
                        ticket_type_quantity: 316
                        ticket_type_real_quantity: 1
                        ticket_type_total_quantity: 301
                        ticket_type_description: 'Tenetur qui ab in aut sit similique molestiae.'
                        created_at: '2024-08-07T23:26:05.000000Z'
                        updated_at: '2024-08-07T23:26:05.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        ticket_type_event_id:
                          type: integer
                          example: 1
                        ticket_type_name:
                          type: string
                          example: VIP
                        ticket_type_price:
                          type: integer
                          example: 9061
                        ticket_type_quantity:
                          type: integer
                          example: 229
                        ticket_type_real_quantity:
                          type: integer
                          example: 38
                        ticket_type_total_quantity:
                          type: integer
                          example: 438
                        ticket_type_description:
                          type: string
                          example: 'Aliquam adipisci labore voluptas nam ut voluptatem.'
                        created_at:
                          type: string
                          example: '2024-08-07T23:26:05.000000Z'
                        updated_at:
                          type: string
                          example: '2024-08-07T23:26:05.000000Z'
      tags:
        - Events
      security: []
    parameters:
      -
        in: path
        name: event_id
        description: 'The ID of the event.'
        example: 1
        required: true
        schema:
          type: integer
  /api/orders-intents:
    post:
      summary: "Création d'une intention de commande"
      operationId: crationDuneIntentionDeCommande
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Order Itents'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_intent_price:
                  type: number
                  description: ''
                  example: 728837.84739829
                order_intent_type:
                  type: string
                  description: ''
                  example: hic
                user_email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: wcormier@example.com
                user_phone:
                  type: string
                  description: ''
                  example: voluptatum
              required:
                - order_intent_price
                - order_intent_type
                - user_email
                - user_phone
      security: []
  /api/orders:
    get:
      summary: 'Create a new order'
      operationId: createANewOrder
      description: ''
      parameters: []
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  errors:
                    -
                      status: 422
                      title: 'Validation Error'
                      detail: 'The selected order event id is invalid.'
                      source:
                        pointer: /order_event_id
                    -
                      status: 422
                      title: 'Validation Error'
                      detail: 'The selected order intent id is invalid.'
                      source:
                        pointer: /order_intent_id
                    -
                      status: 422
                      title: 'Validation Error'
                      detail: 'The selected user id is invalid.'
                      source:
                        pointer: /user_id
                properties:
                  errors:
                    type: array
                    example:
                      -
                        status: 422
                        title: 'Validation Error'
                        detail: 'The selected order event id is invalid.'
                        source:
                          pointer: /order_event_id
                      -
                        status: 422
                        title: 'Validation Error'
                        detail: 'The selected order intent id is invalid.'
                        source:
                          pointer: /order_intent_id
                      -
                        status: 422
                        title: 'Validation Error'
                        detail: 'The selected user id is invalid.'
                        source:
                          pointer: /user_id
                    items:
                      type: object
                      properties:
                        status:
                          type: integer
                          example: 422
                        title:
                          type: string
                          example: 'Validation Error'
                        detail:
                          type: string
                          example: 'The selected order event id is invalid.'
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                              example: /order_event_id
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order_info:
                  type: string
                  description: ''
                  example: molestiae
                order_event_id:
                  type: string
                  description: ''
                  example: qui
                order_intent_id:
                  type: string
                  description: ''
                  example: et
                order_payment:
                  type: string
                  description: ''
                  example: temporibus
                order_type:
                  type: string
                  description: ''
                  example: et
                user_id:
                  type: string
                  description: ''
                  example: officiis
              required:
                - order_info
                - order_event_id
                - order_intent_id
                - order_payment
                - order_type
                - user_id
      security: []
  '/api/orders/{user_id}/all':
    get:
      summary: 'Get all orders of a user'
      operationId: getAllOrdersOfAUser
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    -
                      id: 4
                      order_number: ORD-17230748097781
                      order_event_id: 1
                      order_price: 1100
                      order_type: Online
                      order_payment: 'Orange Money'
                      order_info: Infrom
                      order_created_on: '2024-08-07 23:53:29'
                      created_at: '2024-08-07T23:53:29.000000Z'
                      updated_at: '2024-08-07T23:53:29.000000Z'
                      order_intent_id: null
                      user_id: 1
                  first_page_url: 'https://tikerama.ddev.site/api/orders/1/all?page=1'
                  from: 1
                  last_page: 1
                  last_page_url: 'https://tikerama.ddev.site/api/orders/1/all?page=1'
                  links:
                    -
                      url: null
                      label: '&laquo; Previous'
                      active: false
                    -
                      url: 'https://tikerama.ddev.site/api/orders/1/all?page=1'
                      label: '1'
                      active: true
                    -
                      url: null
                      label: 'Next &raquo;'
                      active: false
                  next_page_url: null
                  path: 'https://tikerama.ddev.site/api/orders/1/all'
                  per_page: 10
                  prev_page_url: null
                  to: 1
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 4
                        order_number: ORD-17230748097781
                        order_event_id: 1
                        order_price: 1100
                        order_type: Online
                        order_payment: 'Orange Money'
                        order_info: Infrom
                        order_created_on: '2024-08-07 23:53:29'
                        created_at: '2024-08-07T23:53:29.000000Z'
                        updated_at: '2024-08-07T23:53:29.000000Z'
                        order_intent_id: null
                        user_id: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 4
                        order_number:
                          type: string
                          example: ORD-17230748097781
                        order_event_id:
                          type: integer
                          example: 1
                        order_price:
                          type: integer
                          example: 1100
                        order_type:
                          type: string
                          example: Online
                        order_payment:
                          type: string
                          example: 'Orange Money'
                        order_info:
                          type: string
                          example: Infrom
                        order_created_on:
                          type: string
                          example: '2024-08-07 23:53:29'
                        created_at:
                          type: string
                          example: '2024-08-07T23:53:29.000000Z'
                        updated_at:
                          type: string
                          example: '2024-08-07T23:53:29.000000Z'
                        order_intent_id:
                          type: string
                          example: null
                        user_id:
                          type: integer
                          example: 1
                  first_page_url:
                    type: string
                    example: 'https://tikerama.ddev.site/api/orders/1/all?page=1'
                  from:
                    type: integer
                    example: 1
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'https://tikerama.ddev.site/api/orders/1/all?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: null
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://tikerama.ddev.site/api/orders/1/all?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          example: null
                        label:
                          type: string
                          example: '&laquo; Previous'
                        active:
                          type: boolean
                          example: false
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'https://tikerama.ddev.site/api/orders/1/all'
                  per_page:
                    type: integer
                    example: 10
                  prev_page_url:
                    type: string
                    example: null
                  to:
                    type: integer
                    example: 1
                  total:
                    type: integer
                    example: 1
      tags:
        - Orders
      security: []
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 1
        required: true
        schema:
          type: integer
tags:
  -
    name: Events
    description: ''
  -
    name: 'Order Itents'
    description: ''
  -
    name: Orders
    description: ''
